html, body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.box{
    width: 200px;
    height: 300px;
}

img{
    width: 200px;
    height: 300px;
}

.back{
    width: 200px;
    height: 300px;
    position: absolute;
    transform: perspective(900px) rotateY(180deg);
    -webkit-transform: perspective(900px) rotateY(180deg);
    -moz-transform: perspective(900px) rotateY(180deg);
    -ms-transform: perspective(900px) rotateY(180deg);
    -o-transform: perspective(900px) rotateY(180deg);
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front{
    width: 200px;
    height: 300px;
    position: absolute;
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box:hover > .front{
    transform: perspective(900px) rotateY(180deg);
    -webkit-transform: perspective(900px) rotateY(180deg);
    -moz-transform: perspective(900px) rotateY(180deg);
    -ms-transform: perspective(900px) rotateY(180deg);
    -o-transform: perspective(900px) rotateY(180deg);
}

.box:hover > .back{
    transform: perspective(900px) rotateY(0deg);
    -webkit-transform: perspective(900px) rotateY(0deg);
    -moz-transform: perspective(900px) rotateY(0deg);
    -ms-transform: perspective(900px) rotateY(0deg);
    -o-transform: perspective(900px) rotateY(0deg);
}