*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #001f25;
}

section{
    display: grid;
}

.loader{
    position: relative;
    width: 600px;
    height: 600px;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));
    -webkit-transform: rotate(calc(36deg * var(--i)));
    -moz-transform: rotate(calc(36deg * var(--i)));
    -ms-transform: rotate(calc(36deg * var(--i)));
    -o-transform: rotate(calc(36deg * var(--i)));
}

.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
    border: 10px solid turquoise;
    box-sizing: border-box;
    box-shadow: 0 0 20px turquoise,    
    -60px -60px 0 turquoise,    
    -60px -60px 20px turquoise,    
    60px 60px 0 turquoise,    
    60px 60px 20px turquoise,    
    60px -60px 0 turquoise,    
    60px -60px 20px turquoise,    
    -60px 60px 0 turquoise,    
    -60px 60px 20px turquoise;
    animation: animate 5s linear infinite;
    -webkit-animation: animate 5s linear infinite;
    animation-delay: calc(-0.25s * var(--i));
    transform-origin: 40px;
}

.loader:hover span::before{
    transform-origin: 500px;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
}
}